#root {
	padding: 2rem;
	width: 100%;
}

.id-card {
	border: 1px solid black;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5px;
	gap: 10px;
	margin: 10px auto;
}
.id-card p {
	margin: 0;
}

.credit-card img {
	width: 100px;
}
